{erl_opts, [debug_info]}.
{deps, [{prometheus, "~> 4.0"}]}.

{port_env, []}.
{pre_hooks, [
  {"linux|darwin", compile, "make -C c_src"},
  {"freebsd", compile, "gmake -C c_src"},
  {"win32", compile, "mkdir build & cd build & cmake ../c_src -A x64 & cmake --build . --config Release & cd .. & mkdir priv & copy /Y build\\Release\\prometheus_process_collector.* priv\\prometheus_process_collector.*"}
]}.
{post_hooks, [
  {"linux|darwin", clean, "make -C c_src clean"},
  {"freebsd", clean, "gmake -C c_src clean"}
]}.

{plugins, [{rebar3_archive_plugin, "0.0.2"},
           rebar3_hex]}.
